body{
  width: 100%;
  height: 100%;
  padding-top:50px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6
{
  font-family: 'Signika', sans-serif;
}
body p{
  font-family: 'Quicksand', sans-serif;
}
#main-container{
  margin-top: -25px;
}
.btn-info {
    color: #fff;
    background-color: rgba(91, 192, 222, .75);
    border-color: #5bc0de;
    border-width: 1.5px;
}
.btn-success{
  color: #fff;
  background-color: rgba(92, 184, 92, 0.75);
  border-color: #5cb85c;
  border-width: 1.5px;
}
.btn-warning{
  color: #fff;
  background-color: rgba(240, 173, 78,0.75);
  border-color: rgb(240, 173, 78);
  border-width: 1.5px;
}
.btn-danger{
  color: #fff;
  background-color: rgba(217, 83, 79,0.75);
  border-color: #d9534f;
  border-width: 1.5px;
}
.btn-primary {
    color: #fff;
    background-color: rgba(2, 117, 216,0.75);
    border-color: #0275d8;
    border-width: 1.5px;
}
.my-fblink-button{
  background-color: rgba(59, 89, 152, 0.75);
  border-color: rgb(59, 89, 152);;
  border-width: 1.5px;
}
.continue-btn{
  width: 200px;
}
.QShareLogo{
  max-width: 200px;
  float:left;
  position: absolute;
  top: -5px;
  left: 20px;
  right: 0px;
  margin:auto;
  animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

@media (max-width: 992px) {
  .QShareLogo{
    all: initial;
    max-width: 180px;
    float:left;
    position: absolute;
    top: -5px;
    left:25px;
    margin: auto;
  }
}
@media (max-width: 525px) {
  .QShareLogo{
    display: none;
  }
}

.btn{
  font-family: 'Quicksand', sans-serif;
}

/* Welcome Page */
.tag-lines{
  margin-bottom: 25px;
}
.LandingLogo{
  max-width: 250px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;

  animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
.landing-page .jumbotron{
  padding-top:15px;
  padding-bottom: 15px;
}
/* Contact Page */
.more-info p{
  margin-bottom: 0px;
}
/* Login Page */
.jumbotron{
   background-color: #eceeef8c;
}
.jumbotron p{
  margin-bottom: 0px;
}
.login-page-wrap{

  margin-top: 20px;
}
.login-page-wrap .jumbotron{
  text-align: center;
  text-shadow: 20px;
}
.jumbotron .jumbo-content{
  animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
}

.index-buttons-wrap{
  margin-bottom: 30px;
}
.login-button-wrap{
  display: inline-block;
  float:left;
  position: relative;
  margin-top: 0px;
}
.jumbotron .login-button-wrap{
  float: none;
  margin-top: 20px;
}
/* Ride Index */
.ReactTable{
  font-family: 'Quicksand', sans-serif;
}
.ReactTable .rt-thead{
  font-family: 'Signika', sans-serif;
  font-size: 1.1em;
  height: 40px;
}
.ReactTable .rt-thead{
  line-height: unset;
}
.ReactTable .rt-tbody .rt-tr-group{
  cursor: pointer;
}
.ride_index_heading{
  cursor: pointer;
}
.ride_index_heading:hover{
  background-color: #5cb85c57;
}
.active{
  background-color: #5cb85cbd;
}
.i-sort{
  font-size: 18px;
  visibility: hidden;
}
.active .i-sort{
  visibility: visible;
}
.user-buttons{
  display: inline-block;
  float:right;
}
.table-col-title{
  min-width: 106px;
}
.ride-table p{
  margin-bottom: 0px;
}
.refresh-btn{
  margin-top: 15px;
}
.ride-table td{
  height: 40px;
}
.table-col-title h4,
.table-col-title .i-sort
{
  font-size: 1em;
}
@media (max-width: 992px) {
  .table-group-item p{
    font-size: .8em;
  }
}
@media (max-width: 500px) {
  .table-col-title{
    min-width: 117px;
  }
  .index-wrap .btn{
    font-size: .8em;
  }
}
@media (max-width: 374px) {
  .table-col-title h4,
  .table-col-title .i-sort
  {
    font-size: .75em;
  }
  .index-wrap .btn{
    font-size: .7em;
  }
}

/* Login Button */
.login-button{
  background-color: #3b5998;
  border: none;
  color:white;
  border-radius: 6px;
  padding: 7px 15px 7px 15px;
}
/* Individual Ride Page */
.ride-show-wrap{
  /* padding: 20px 20px 20px 20px; */
  border-radius: 3px;
}
.ride-show-wrap p{
  font-size: 20px;
}
.ride-show-wrap .description-row td{
  border-top:none;
}
.ride-show-wrap .i-span{
  float: left;
  width: 60px;
}
.ride-show-wrap .i-span-desc{
  float: left;
  width: 40px;
}
.profile-picture-wrap{
  display: block;
  margin: auto;
  top:0px;
  bottom:0px;
}
.ride-profile-picture{
  width:170px;
  heigh:170px;
  border-radius: 50%;
}
.ride-header {
  background-color: #d4d4d438;
  border-radius: 5px;
  height: 210px;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  /* margin-bottom: 15px;  */
}
.profile-ride-table h3{
  text-align: center;
}

.ride-header img{
  display: block;
  position: relative;
  margin:auto;
  left:0;
  right:0;
}
.locations-wrap{
  height: 170px;
  text-align: center;
  display: table;
}
.locations{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

.ride-show-row-title{
  width:220px;
}

@media (max-width: 992px) {
  .locations-wrap{
    display: none;
  }
}

@media (max-width: 768px) {
  .ride-show-row-title{
    width:180px;
  }
  .ride-show-wrap .i-span{
    display:none;
  }
  .ride-show-wrap .i-span-desc{
    display:none;
  }
  .locations-wrap{
    height: 145px;
  }
  .locations{
    font-size: 30px;
  }
}

.show-ride-button{
  width: 100%;
  margin-bottom: 20px;
}
.ride-show-table table{
  margin-top: 5px;
}
.ride-show-table  td{
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
}
.ride-show-table  .table-group-item p{
  margin-bottom: 0px;
}
.ride-table-filter-text{
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  height: 90%;
  width: 150px;
  float:left;
}

@media (max-width: 520px) {
  .ride-show-row-title{
    width:100px;
  }
  .ride-show-wrap h4{
    font-weight: bolder;
    font-size: .97em;
  }
  .ride-show-wrap p{
    font-size: .95em;
  }
  .locations-wrap{
    height: 80px;
  }
  .locations{
    font-size: 20px;
  }
}
.passenger-list ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
.passenger-list-ol li{
  /* padding: 8px 8px 8px 8px; */
  color:#0275d8;
}
.passenger-list-ol li p:hover{
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  /* background-color: #eceeef9e; */
  color:#47b72d;
  text-decoration: underline;
}
.passenger-list-ol p{
  display: inline-block;
  margin-bottom:5px;
}
.i-span-kick{
  cursor: pointer;
  color: #ff0000a3;
  margin-left: 10px;
  font-size: 20px;
}
.i-span-kick:hover{
  color:red;
}


/* Post Ride Form */
#PlacesAutocomplete__root input{
  background-color: rgba(0, 0, 0, 0.03);
}
.places-container-origin{
  z-index: 1000;
  position: absolute;
  display: block;
}
.places-text-help-origin{
  visibility: hidden;
}
.places-container-destination{
  z-index: 800;
  position: absolute;
  display: block;
}
.places-text-help-destination{
  visibility: hidden;
}
#hidden-height-buffer{
  visibility: hidden;
}
#powered-by-google{
  float: right;
  width: 120px;
  height: auto;
}
form .form-group .input-field{
  background-color: rgba(0, 0, 0, 0.03);
  width:100%;
}
form .form-group .uid-field{
  width:75%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}
form .form-group .uid-field:hover{
  cursor: not-allowed;
}
form .form-group .uid-field:focus{
  outline:none;
  border: none;
}
form .description textarea{
  width:100%;
  background-color: rgba(0, 0, 0, 0.03);
  height: 100px;
}
.form-login-message{
  margin-top: 30px;
  text-align: center;
}
.react-datepicker-wrapper input{
  background-color: rgba(0, 0, 0, 0.03);
}
/* Tablet Form Query */
@media (max-width: 767px) {
  form .form-group .input-field{
    width:75%;
  }
  form .form-group .uid-field{
    width:50%;
  }
  form .description textarea{
    width:100%;
  }
}
/* Phone Form Query */
@media (max-width: 450px) {
  form .form-group .input-field{
    width:100%;
  }
  form .form-group .uid-field{
    width:75%;
  }
  form .description textarea{
    width:100%;
  }
}
.form-submit-button{
  float: right;
}
.react-datepicker__input-container{
  width:215px;
}
/* Profile Page */
.profile-login-message{
  margin-top: 30px;
  text-align: center;
}
.profile-container{
  /* Specify profile font here */
  margin-top: 20px;
}
.profile-picture{
  display: block;
  margin:auto;
  width:200px;
  heigh:200px;
  border-radius: 50%;
}
.welcome-row{
  margin-top: 10px;
  text-align: center;
}
.my-rides-container{
  margin-top: 20px;
}
.ride-table-container{
  padding-left: 5px;
  padding-right: 5px;
  overflow-x:auto;
}
@media (min-width: 500px){
  .ride-table .ride-row:hover,
  .ride-table .ride-row:focus,
  .ride-table .ride-row:active{
    background-color: #d4d4d459;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.smooth-transition{
  -webkit-transition: all 0.4s ease-in-out;
  animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
